name: Build & Deploy AMI to AWS

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      working_directory:
        type: string
        default: "."
      tf_cloud_organization:
        required: true
        type: string
      tf_workspace:
        required: true
        type: string
      tf_config_directory:
        required: true
        type: string
    secrets:
      TF_API_TOKEN:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

env:
  TF_CLOUD_ORGANIZATION: ${{ inputs.tf_cloud_organization }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}

jobs:
  build-deploy-aws:
    concurrency: 1
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - name: Set up OPS
        run: curl https://ops.city/get.sh -sSfL | sh
      - name: Set OPS environment variables
        run: |
          echo "OPS_DIR=$HOME/.ops" >> $GITHUB_ENV
          echo "$HOME/.ops/bin" >> $GITHUB_PATH
      - uses: oven-sh/setup-bun@v1
      - name: Create AMI
        run: |
          cd ${{ inputs.working_directory }}
          make image-create-aws
      - name: Set AMI ID
        run: |
          cd ${{ inputs.working_directory }}
          make image-get-aws | jq
          AMI_ID=$(echo $(make image-get-aws) | jq -r '.ID')
          echo "TF_VAR_ami_id=\"$AMI_ID\"" >> $GITHUB_ENV
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.0
        id: apply-upload
        with:
          workspace: ${{ inputs.tf_workspace }}
          directory: ${{ inputs.tf_config_directory }}
      - name: Create Apply Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.0
        id: apply-run
        with:
          workspace: ${{ inputs.tf_workspace }}
          configuration_version: ${{ steps.apply-upload.outputs.configuration_version_id }}
      - name: Apply
        uses: hashicorp/tfc-workflows-github/actions/apply-run@v1.0.0
        if: fromJSON(steps.apply-run.outputs.payload).data.attributes.actions.IsConfirmable
        id: apply
        with:
          run: ${{ steps.apply-run.outputs.run_id }}
          comment: "Apply Run from GitHub Actions CI ${{ github.sha }}"
